<!DOCTYPE html>
<html lang="en">


<head>

    {% include "layout/head.html" %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #00b3ee;">
            {% include "layout/nav.html" %}

            {% include "layout/sidebar-guru.html" %}
        </nav>

        <div id="page-wrapper">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% include "layout/js.html" %}
    {% block inline_js %}
        <script type="text/javascript">
            $(window).load(function(){
                $('#foto-siswa').mouseover(function(){
                    $('#ganti-foto-button').css('display', 'block');
                }).mouseleave(function(){
                    $('#ganti-foto-button').fadeOut();
                });
            });
        </script>
    {% endblock %}

</body>

</html>
